Repository bekahwhittle/circleci-demo: changes, and which CircleCI parameters are due for each by the changed paths.
All: test-src, build-client, circle-ci

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            src/.* test-src true
            build/.* build-client true
            .circleci/.* circle-ci true
          # Optional, defaults to main:
          base-revision: origin/main

⚫️
  .circleci/continue_config.yml
Due: circle-ci

🎨 background component change
  build/asset-manifest.json
  build/index.html
  build/precache-manifest.e78e01c24450ba105af1c7758787c5e9.js
  build/service-worker.js
  build/static/css/main.8846464d.chunk.css
  build/static/css/main.8846464d.chunk.css.map
  build/static/css/main.95595365.chunk.css
  build/static/css/main.95595365.chunk.css.map
  src/App.css
Due: test-src, build-client

🎨 background component change
  build/asset-manifest.json
  build/index.html
  build/precache-manifest.9fee9194cfda0ec0b4b156fdc16c0f25.js
  build/service-worker.js
  build/static/css/main.8846464d.chunk.css
  build/static/css/main.8846464d.chunk.css.map
  build/static/css/main.95595365.chunk.css
  build/static/css/main.95595365.chunk.css.map
  src/App.css
Due: test-src, build-client

🐳 dockerfile build
  .circleci/config.yml
  .circleci/continue_config.yml
  build/asset-manifest.json
  build/index.html
  build/precache-manifest.70052b69c145b7951e8a5ef825b6f145.js
  build/service-worker.js
  build/static/css/main.0b7fb77e.chunk.css
  build/static/css/main.0b7fb77e.chunk.css.map
  build/static/css/main.8846464d.chunk.css
  build/static/css/main.8846464d.chunk.css.map
  src/App.css
Due: test-src, build-client, circle-ci

🐳 dockerfile build
  .circleci/config.yml
  build/asset-manifest.json
  build/index.html
  build/precache-manifest.e78e01c24450ba105af1c7758787c5e9.js
  build/service-worker.js
  build/static/css/main.0b7fb77e.chunk.css
  build/static/css/main.0b7fb77e.chunk.css.map
  build/static/css/main.95595365.chunk.css
  build/static/css/main.95595365.chunk.css.map
  src/App.css
Due: test-src, build-client, circle-ci

🐳 dockerfile build
  .circleci/continue_config.yml
  build/asset-manifest.json
  build/index.html
  build/precache-manifest.70052b69c145b7951e8a5ef825b6f145.js
  build/service-worker.js
  build/static/css/main.0b7fb77e.chunk.css
  build/static/css/main.0b7fb77e.chunk.css.map
  build/static/css/main.95595365.chunk.css
  build/static/css/main.95595365.chunk.css.map
  src/App.css
Due: test-src, build-client, circle-ci

🧶 yarn package update
  .circleci/continue_config.yml
  src/App.css
Due: test-src, circle-ci

🧶 yarn package update
  .circleci/continue_config.yml
Due: circle-ci

🧶 yarn package update
  src/App.css
Due: test-src

removed flakey test
  .circleci/config.yml
  cypress/integration/examples/local_storage.spec.js
  cypress/videos/examples/local_storage.spec.js.mp4
Due: circle-ci

removed flakey test
  .circleci/config.yml
Due: circle-ci

Update lint to large resource class in config.yml
  .circleci/config.yml
Due: circle-ci
